<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.android.check"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <permission
        android:name=".permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gps_fixed_white_24dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD-SFCOS7k046N011yVWDgBuF9ZrkOXfYA " />

        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaVisita"
            android:label="@string/title_activity_lst"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadVisita"
            android:label="@string/title_activity_cad_visita"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadVendedor"
            android:label="@string/title_activity_cad_vendedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadUsuario"
            android:label="@string/title_activity_cad_usuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaVisitaRecyclerView"
            android:label="@string/title_activity_lst"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>